body {
  font-family: 
    -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Arial, 
    sans-serif;
    background-image: url("assets/stars.png");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  
    color: #FFFFFF; 
}
#volume-slider {
      position: fixed;
      bottom: 10px;
      left: 10px;
      width: 100px;
      opacity: 0.5;
      z-index: 1000;
    }
#volume-slider:hover {
      opacity: 1;
    }
#controls {
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      background: #1110;
      color: white;
    }
#center {
    text-align: center;
    margin-top: 50px;
    background: #1118;
}
