body {
  font-family: 
    -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Arial, 
    sans-serif;
    background-image: url("../assets/stars.png");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  
    color: #FFFFFF; 
}
#center {
    text-align: center;
    margin-top: 50px;
    background: #1118;
}
.infobox {
    width: 600px;
    float: right;
    border: 1px solid #ccc;
    background-color: #0008;
    padding: 10px;
    margin-left: 15px;
}
